<!doctype html>
<html lang="es">
	<head>
		<title>Portafolio.la</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width:device-width, maximum-scale=1" />
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../static/css/normalize.css">
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	</head>
	<body>
		<header id="yo" class="Header">
			<!-- <h2>Yo</h2> -->
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item"><a href="#yo" class="MainMenu-link">Yo</a></li>
					<li class="MainMenu-item"><a href="#perfil" class="MainMenu-link">Perfil</a></li>
					<li class="MainMenu-item"><a href="#trabajo" class="MainMenu-link">Trabajo</a></li>
					<li class="MainMenu-item"><a href="#contacto" class="MainMenu-link">Contacto</a></li>
				</ul>
			</nav>
			<div class="Header-imageMail"></div>
			<div class="Header-imagePlus"></div>
			<figure class="Header-imageContainer">
				<img src="../static/images/avatar.jpg" alt="Imágen personal." class="Header-image"/> 
				<figcaption class="Header-imageDescription"><a href="http://twitter.com/labzaper" target="blank" class="Header-link">@Labzaper</a></figcaption>
			</figure>
				<p class="Header-name">Guillermo Cruces</p>
		</header>
		<section id="perfil" class="Profile">
			<div class="u-containerDefault">
				<h2 class="Profile-title u-title">Mi Perfil</h2>
				<p class="Profile-description">Hola! si llegaste hasta aquí puedes ver mi portafolio y contactarme.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<a class="Profile-link Profile-link-bg_twitter" href="http://twitter.com/labzaper" target="blank">@Labzaper</a>
				<a class="Profile-link Profile-link-bg_facebook" href="https://www.facebook.com/guillermo.cruxes" target="blank">/Guillermo Cruxez</a>
				<a class="Profile-link Profile-link-bg_github" href="https://github.com/Labzaper" target="blank">/Labzaper</a>	
				<br/>			
				<!-- Viñetas con la iconfont de palomita -->
				<div class="Profile-features">
					<ul class="Profile-icon">
						<li><i>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat.</i></li>
						<li><i>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</i></li>
					</ul>
				</div>
				<div class="Profile-features">
					<ul class="Profile-icon">
						<li><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</i></li>
						<li><i>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</i></li>
					</ul>
				</div>
			</div>
		</section>
		<section id="trabajo" class="Work">
			<div class="u-containerDefault">
				<h2 class="Work-title u-title">Mi Trabajo</h2>
			</div>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/thumb1.jpg">
					<figcaption class="Work-description">Website de portafolio.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/thumb3.jpg">
					<figcaption class="Work-description">Website de portafolio.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/thumb1.jpg">
					<figcaption class="Work-description">Website de portafolio.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/thumb2.jpg">
					<figcaption class="Work-description">Website de portafolio.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/thumb3.jpg">
					<figcaption class="Work-description">Website de portafolio.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/thumb2.jpg">
					<figcaption class="Work-description">Website de portafolio.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/thumb3.jpg">
					<figcaption class="Work-description">Website de portafolio.la</figcaption>
				</figure>
			</article>
		</section>
		<footer id="contacto" class="Footer">
			<div class="Footer-left">
				<h3 class="Footer-title">Contacto</h3>
				<p class="Footer-description">Si tienes un sugerencia o quieres trabajar conmigo ponte en contacto con este formulario. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
			<form class="Footer-form">
				<input class="Footer-formInput" type="text" placeholder="Nombre*" />
				<input class="Footer-formInput" type="text" placeholder="Email*" />
				<textarea class="Footer-formTextarea" placeholder="Motivo*"></textarea>
				<button type="submit"  class="Footer-formButton">Contactarme</button>
			</form>
		</footer>
	</body>
</html>